.frnd-bill:hover{
  background-color: #f5eabb;
  transition: background-color .3s ease-in-out;
}

.add-friend {
  background-color: #f5eabb;
}

.addFrndBtn{
  float: right;
}

.form-bill {
  background-color: #f5eabb;
  height: 60vh;
}

.selected{
  background-color: #f5eabb;
}